<div class="myDiv" id="div1">
    <div class="clearTop"></div>
    <div class="title">
        <span class="first">aria</span>
        <span class="second">.api()</span>
    </div>
    <div class="description">
        <p>/ˈɑːrɪə/</p>
    </div>
    <div class="description2">
        <span>In music, an aria is a self-<br>
        contained piece for one voice.</span>
    </div>
    <div class="home-container">
        <span class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Egestas sed sed risus pretium quam vulputate. Aliquet sagittis id
            consectetur purus ut faucibus pulvinar elementum. Enim praesent
            elementum facilisis leo vel fringilla est ullamcorper eget.
            Quis auctor elit sed vulputate mi sit amet mauris. Sollicitudin
            nibh sit amet commodo nulla. Cras tincidunt lobortis feugiat vivamus at.
            Sed turpis tincidunt id aliquet. Quisque sagittis purus sit amet
            volutpat consequat mauris nunc. Malesuada pellentesque elit eget
            gravida cum sociis natoque penatibus. Viverra nam libero justo
            laoreet sit amet cursus sit amet. Amet consectetur adipiscing
            elit ut aliquam. Lorem ipsum dolor sit amet.</span>
        <span class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Egestas sed sed risus pretium quam vulputate. Aliquet sagittis id
            consectetur purus ut faucibus pulvinar elementum. Enim praesent
            elementum facilisis leo vel fringilla est ullamcorper eget.
            Quis auctor elit sed vulputate mi sit amet mauris. Sollicitudin
            nibh sit amet commodo nulla. Cras tincidunt lobortis feugiat vivamus at.
            Sed turpis tincidunt id aliquet. Quisque sagittis purus sit amet
            volutpat consequat mauris nunc. Malesuada pellentesque elit eget
            gravida cum sociis natoque penatibus. Viverra nam libero justo
            laoreet sit amet cursus sit amet. Amet consectetur adipiscing
            elit ut aliquam. Lorem ipsum dolor sit amet.</span>
    </div>

</div> <!--HOME VIEW-->