<div class="myDiv" id="div5">
    <div class="clearTop"></div>
    <div class="constantTitle">
        <span class="first">aria</span>
    </div>
</div>

<script>
    $('.customButton2').click(function() {
        $('.flip-container').toggleClass('hover');
        $(this).css('transform, rotateY(180deg)');
    });


    $('.js-tilt').tilt({
        maxTilt: 8,
        scale: 1.1,
        easing: "cubic-bezier(.03,.98,.52,.99)",
        speed: 100
    });

    $('.js-tilt2').tilt({
        maxTilt: 8,
        scale: 1.1,
        easing: "cubic-bezier(.03,.98,.52,.99)",
        speed: 300
    });

    const updateSelected = () => {
        $(".selected").text($("a[class*='active']").text()).fadeIn(700);
    }

    const scrollToTop = () => {
        $(window).scrollTop(0)
    }

    function typeWriter(divId) {
        if (divId === 'div1') {
            $('.second').css({width: '6ch', animation: 'typing 0.5s steps(6), blink .7s step-end infinite alternate'});
        } else if (divId === 'div2') {
            $('.second').css({width: '8ch', animation: 'typing 0.5s steps(8), blink .7s step-end infinite alternate'});
        } else if (divId === 'div3') {
            $('.second').css({width: '8ch', animation: 'typing 0.5s steps(8), blink .7s step-end infinite alternate'});
        } else {
            $('.second').css({
                width: '10ch',
                animation: 'typing 0.5s steps(10), blink .7s step-end infinite alternate'
            });
        }
    }

    function pulse() {
        $("#pulsating").show();
        $('#pulsating').delay(1950).fadeOut();
    }

    function showLoader() {
        $(".loader").show();
        $('.loader').delay(1350).fadeOut(300);
    }

    function enableScrolling() {
        $('body, html').removeClass('stop-scrolling2');
    }

    function disableScrolling() {
        $('body, html').addClass('stop-scrolling2')
    }

    function enableBorder() {
        $("#border2").delay(2000).addClass("border2")
        $(".border2").hide();
    }

    function disableBorder() {
        $("#border2").removeClass("border2")
    }

    window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;

        if (currentScroll > 0) {
            $(".border2").show();
        } else
            $(".border2").fadeOut(300);
    });

    $(function () {
        disableScrolling();
        $("#div1, #div2, #div3, #div4, #div5, .constantTitleDiv, .navbar, .border1, .border2, .circle, .circle_pulse, .loader").hide();

        setTimeout(function() {
            disableScrolling();
            scrollToTop();
            enableBorder();
            showLoader();

            $('#div5').fadeIn(2000);
            $(".border1").hide().delay(1000).show(200);
            $(".circle").delay(900).fadeIn(300);
            setTimeout(pulse, 1200);

            $('#div1, .constantTitleDiv, .navbar').delay(1000).fadeIn(2000);
            setTimeout(enableScrolling, 2500);
            setTimeout(enableBorder, 2500)
        }, 500);

    });

    $('.email').on("click", function () {
        let value = $(this).data('clipboard-text');
        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val(value).select();
        document.execCommand("copy");
        $temp.remove();
    })

    $(".selector a").click(function () {
        $("a").removeClass("active");
        $(this).addClass(" active");
        $(".selected").fadeOut(300);
        setTimeout(updateSelected, 500);
    });

    $(".myLink").click(function () {
        disableBorder();
        disableScrolling();
        $('.myDiv, .border1, .circle, .circle_pulse').not($('#div5')).fadeOut();
        let divId = $(this).attr("divId");
        if (divId === 'div4')
            disableScrolling();
        else
            setTimeout(enableScrolling, 2000);

        showLoader();

        $(".circle, .border1").delay(700).fadeIn();

        setTimeout(pulse, 1200);
        setTimeout(scrollToTop, 400);
        setTimeout(enableBorder, 2000);
        typeWriter(divId);

        $("#" + divId).delay(1000).fadeIn(500);
    });

    $('body').addClass('stop-scrolling1')
    $(document).on("click", function () {
        $('body').addClass('stop-scrolling1')
    });

    $('a[href="#ex1"]').click(function (event) {
        event.preventDefault();
        $(this).modal({
            showClose: false,
            fadeDuration: 300
        })
        $('body').removeClass('stop-scrolling1')
    });

</script>