<div class="loader">
    <div class="loader__element"></div>
</div>

<div class="cursor"></div>

<div class="navbar">
    <div class="selector-wrapper">
        <span class="selected">.api()</span>
        <span><a class="infoBtn" href="#ex1">i.</a></span>
        <ul class="selector">
            <li><a class="myLink " divId="div1" id="home" href="/">.api()</a></li>
            <li><a class="myLink " divId="div2" id="trace" href="/trace">.trace()</a></li>
            <li><a class="myLink " divId="div3" id="saved" href="/saved">.saved()</a></li>
            <li><a class="myLink " divId="div4" id="contact" href="/contact">.contact()</a></li>
        </ul>
    </div>
</div>

<div class="clearLeft">
    <div class="align">
        <div class="circle"></div>
        <div class="circle_pulse" id="pulsating"></div>
        <div class="border1"></div>
        <div class="border2" id="border2"></div>
    </div>
</div>

<div class="myDiv" id="div5">
    <div class="clearTop"></div>
    <div class="constantTitle">
        <span class="first">aria</span>
    </div>
</div>

<div id="bottom_fade"></div>
