<div class="clearLeft">
    <div class="align">
        <div class="circle"></div>
        <div class="circle_pulse" id="pulsating"></div>
        <div class="border1"></div>
        <div class="border2" id="border2"></div>
    </div>
</div>

<div id="bottom_fade"></div>