<div class="loader">
    <div class="loader__element"></div>
</div>

<div class="cursor"></div>

<div class="navbar">
    <div class="selector-wrapper">
        <span class="selected">.api()</span>
        <span><a class="infoBtn" href="#ex1">i.</a></span>
        <ul class="selector">
            <li><a class="myLink " divId="div1" id="home" href="/">.api()</a></li>
            <li><a class="myLink " divId="div2" id="trace" href="/trace">.trace()</a></li>
            <li><a class="myLink " divId="div3" id="saved" href="/saved">.saved()</a></li>
            <li><a class="myLink " divId="div4" id="contact" href="/contact">.contact()</a></li>
        </ul>
    </div>
</div>