<div id="ex1" class="modal" style="background-color: #0c0c0c">
    <div class="modalTitle">
        <span class="modalFirst">aria</span><span class="modalSecond">.usage('<span class="p1">i</span>nfo')</span>
    </div>
    <div class="description">
        <p>How to use the .trace() function</p>
    </div>
    <div class="description2">
        <span>.trace().instructions = {</span>
    </div>
    <div class="modalInstructions">
        <p>
            &#160;&#160;&#160;&#160;<span class="p1">step1</span>: '<span class="green">Lorem ipsum dolor sit amet, consectetur adipiscing</span>'
            +
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;'<span class="green">elit. Lorem ipsum dolor sit amet.</span>',<br><br>
            &#160;&#160;&#160;&#160;<span class="p1">step2</span>: '<span class="green">Lorem ipsum dolor sit amet, consectetur adipiscing.</span>',<br><br>
            &#160;&#160;&#160;&#160;<span class="p1">step3</span>: '<span class="green">Lorem ipsum dolor sit amet, consectetur adipiscing</span>'
            +
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;'<span class="green">elit. Lorem ipsum dolor sit amet. Lorem ipsum</span>'
            +
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;'<span class="green">dolor sit amet, consectetur adipiscing.</span>',<br><br>
            &#160;&#160;&#160;&#160;<span class="p1">step4</span>: '<span class="green">Lorem ipsum dolor sit amet, consectetur adipiscing.</span>'
        </p>
    </div>
    <div class="modalDescription3">
        <span>}</span>
    </div>
</div>