html, body {
    font-size: 16px;
    scroll-behavior: smooth;
    width: 100%;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("main/assets/fonts/RobotoMono-Regular.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Bold.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Medium.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Light.ttf") format('truetype');
}

@media only screen and (min-width: 768px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 0.5rem;
        font-weight: 500;
    }

    .contact1, .contact2 {
        font-size: 1.37rem;
    }

    .title, .constantTitle, .modalTitle {
        font-size: 4rem;
        font-weight: 400;
    }

    .modalTitle {
        font-size: 1rem;
        font-weight: 700;
    }

    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 0.5rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1.3rem;
    }

    /*SIZE ATTRIBUTES*/
    body {
        width: 768px;
        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position:absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse
    {
        0% {-webkit-transform: scale(0); opacity: 0;}
        8% {-webkit-transform: scale(0); opacity: 0;}
        15% {-webkit-transform: scale(0.1); opacity: 1;}
        30% {-webkit-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse
    {
        0% {-moz-transform: scale(0); opacity: 0;}
        8% {-moz-transform: scale(0); opacity: 0;}
        15% {-moz-transform: scale(0.1); opacity: 1;}
        30% {-moz-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -moz-transform: scale(1);}
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 20px;
        left: 1.3rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 0.2rem;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.4rem 0.5rem;
        bottom: 26px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1281px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 0.5rem;
        font-weight: 500;
    }

    .contact1, .contact2 {
        font-size: 1.37rem;
    }

    .title, .constantTitle, .modalTitle {
        font-size: 4rem;
        font-weight: 400;
    }

    .modalTitle {
        font-size: 1rem;
        font-weight: 700;
    }

    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 0.5rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1.3rem;
    }

    /*SIZE ATTRIBUTES*/
    body {

        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position:absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse
    {
        0% {-webkit-transform: scale(0); opacity: 0;}
        8% {-webkit-transform: scale(0); opacity: 0;}
        15% {-webkit-transform: scale(0.1); opacity: 1;}
        30% {-webkit-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse
    {
        0% {-moz-transform: scale(0); opacity: 0;}
        8% {-moz-transform: scale(0); opacity: 0;}
        15% {-moz-transform: scale(0.1); opacity: 1;}
        30% {-moz-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -moz-transform: scale(1);}
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 20px;
        left: 1.3rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 0.2rem;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.4rem 0.5rem;
        bottom: 26px;
        white-space: nowrap;
    }

}

@media only screen and (min-width: 1282px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 1.32rem;
        font-weight: 500;
    }

    .contact1, .contact2 {
        font-size: 1.37rem;
    }

    .title, .constantTitle, .modalTitle {
        font-size: 4rem;
        font-weight: 400;
    }

    .modalTitle {
        font-size: 2.6rem;
        font-weight: 700;
    }
    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1.3rem;
    }

    /*SIZE ATTRIBUTES*/
    body {
        width: 1282px;
        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position:absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse
    {
        0% {-webkit-transform: scale(0); opacity: 0;}
        8% {-webkit-transform: scale(0); opacity: 0;}
        15% {-webkit-transform: scale(0.1); opacity: 1;}
        30% {-webkit-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse
    {
        0% {-moz-transform: scale(0); opacity: 0;}
        8% {-moz-transform: scale(0); opacity: 0;}
        15% {-moz-transform: scale(0.1); opacity: 1;}
        30% {-moz-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -moz-transform: scale(1);}
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 20px;
        left: 1.3rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 0.2rem;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.4rem 0.5rem;
        bottom: 26px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1920px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 1rem;
        font-weight: 500;
    }
    .title, .constantTitle, .modalTitle {
        font-size: 3rem;
        font-weight: 400;
    }

    .contact1, .contact2 {
        font-size: 1rem;
    }


    .modalTitle {
        font-size: 2rem;
        font-weight: 700;
    }
    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 1rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1rem;
    }

    body {
        width: 1920px;
        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 2.6rem;
        height: 2.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse
    {
        0% {-webkit-transform: scale(0); opacity: 0;}
        8% {-webkit-transform: scale(0); opacity: 0;}
        15% {-webkit-transform: scale(0.1); opacity: 1;}
        30% {-webkit-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse
    {
        0% {-moz-transform: scale(0); opacity: 0;}
        8% {-moz-transform: scale(0); opacity: 0;}
        15% {-moz-transform: scale(0.1); opacity: 1;}
        30% {-moz-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -moz-transform: scale(1);}
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 14px;
        left: 1rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 2px;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.2rem 0.3rem;
        bottom: 20px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 2560px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 1.32rem;
        font-weight: 500;
    }

    .contact1, .contact2 {
        font-size: 1.37rem;
    }

    .title, .constantTitle, .modalTitle {
        font-size: 4rem;
        font-weight: 400;
    }

    .modalTitle {
        font-size: 2.6rem;
        font-weight: 700;
    }
    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1.3rem;
    }

    /*SIZE ATTRIBUTES*/
    body {
        width: 2560px;
        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position:absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse
    {
        0% {-webkit-transform: scale(0); opacity: 0;}
        8% {-webkit-transform: scale(0); opacity: 0;}
        15% {-webkit-transform: scale(0.1); opacity: 1;}
        30% {-webkit-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse
    {
        0% {-moz-transform: scale(0); opacity: 0;}
        8% {-moz-transform: scale(0); opacity: 0;}
        15% {-moz-transform: scale(0.1); opacity: 1;}
        30% {-moz-transform: scale(0.5); opacity: 1;}
        100% {opacity: 0; -moz-transform: scale(1);}
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 20px;
        left: 1.3rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 0.2rem;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.4rem 0.5rem;
        bottom: 26px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 3024px) {
    /*FONTS*/
    .navbar, .description, .description2, .home-container, .contact-container, .selected {
        font-size: 1.32rem;
        font-weight: 500;
    }

    .contact1, .contact2 {
        font-size: 1.37rem;
    }

    .title, .constantTitle, .modalTitle {
        font-size: 4rem;
        font-weight: 400;
    }

    .modalTitle {
        font-size: 2.6rem;
        font-weight: 700;
    }

    .modalDescription, .modalDescription2, .modalInstructions, .modalDescription3 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .tooltip {
        font-size: 1.3rem;
    }

    /*SIZE ATTRIBUTES*/
    body {
        width: 3024px;
        height: 100%;
    }

    /*EFFECTS*/
    .circle_pulse {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.1;
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid #682AE9FF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        /* Giving Animation Function */
        -webkit-animation: pulse 2s linear infinite;
        -moz-animation: pulse 2s linear infinite;
        border-image: initial;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0);
            opacity: 0;
        }
        8% {
            -webkit-transform: scale(0);
            opacity: 0;
        }
        15% {
            -webkit-transform: scale(0.1);
            opacity: 1;
        }
        30% {
            -webkit-transform: scale(0.5);
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
        }
    }

    @-moz-keyframes pulse {
        0% {
            -moz-transform: scale(0);
            opacity: 0;
        }
        8% {
            -moz-transform: scale(0);
            opacity: 0;
        }
        15% {
            -moz-transform: scale(0.1);
            opacity: 1;
        }
        30% {
            -moz-transform: scale(0.5);
            opacity: 1;
        }
        100% {
            opacity: 0;
            -moz-transform: scale(1);
        }
    }

    .tooltip:after {
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .75);
        border-left: 6px solid transparent;
        content: '';
        height: 0;
        bottom: 20px;
        left: 1.3rem;
        width: 0;
    }

    .tooltip:before {
        background: rgba(0, 0, 0, .90);
        border-radius: 0.2rem;
        color: #fff;
        font: inherit;
        content: attr(data-title);
        padding: 0.4rem 0.5rem;
        bottom: 26px;
        white-space: nowrap;
    }
}

body {
    position: relative;
    height: 2000px;
    width: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #0c0c0c;
    background-image: url("https://griptapejs.com/background-hero.jpg");
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-position: center;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: auto;
}

.selector-wrapper {
    position: relative;
    display: block;
    left: 25%;
    width: 50vw;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 0.5%;
}

.selected {
    position: relative;
    margin: auto;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #7b44ee;
}

.infoBtn {
    position: relative;
    float: right;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    color: #FFC300;
    cursor:pointer;
}

.infoBtn:hover {
    color: #7b44ee;
}

.selector {
    position: relative;
    float: right;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li a {
    padding: 0 1vw 0 0;
}

.clearLeft {
    position: fixed;
    width: 25%;
    height: 100%;
}

.constantTitle {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
}

.myDiv {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    margin: 0;
}

.clearTop {
    height: 46vh;
    display: block;
    width: 100%;
    top: 0;
}

.title {
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6vh;
    width: 100%;
}

.first {
    font-weight: 400;
}
.second {
    font-weight: 500;
}

.description {
    color: #757474;
    height: auto;
    width: 100%;
    margin: 0;
}

.description2 {
    color: white;
    height: auto;
    width: 100%;
    margin: 0;
}

.home-container, .contact-container {
    margin: 0;
    color: #757474;
    width: 50%;
}

.span3 {
    min-width: 100%;
    height: auto;
    margin-top: 2vh;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}

ul {
    list-style-type: none;
    margin-top: 0;
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: #682AE9FF;
}

.active {
    color: #757474;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 0.4;
        transform: translate3d(0, 0, 0);
    }
}

.title, .constantTitle {
    word-spacing: -1em;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.first, .modalFirst {
    color: white;
}

.second, .modalSecond {
    color: #682AE9FF;
}

.second {
    transition: all 1s;
    width: 6ch;
    animation: typing 0.5s steps(6), blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.contact-container, .home-container {
    width: 100%;
    margin: auto;
}

.contact1, .contact2 {
    margin: auto;
    float: left;
    width: 50%;
    height: 50%;
    color: white;
}

.email, .email:hover, .email:focus {
    text-decoration: underline #682AE9FF;
    text-underline-offset: 3px;
    color: inherit;
}

.email:active {
    color: #757474;
}

.p1 {
    color: #FFC300;
}

.modal {
    font: inherit;
    min-width: 35%;
    height: auto;
    z-index: 99;
    text-align: center;
}

.modalFirst {
    margin-right: 0;
}

.modalSecond {
    margin-left: 0;
}

.modalInstructions p {
    margin: auto;
}

.green {
    color: #e0f6bf;
}

.modalTitle {
    height: auto;
    width: 100%;
    margin: auto;
}

.modalInstructions {
    position: relative;
    color: #757474;
    margin: auto;
}

.modalDescription3 {
    color: white;
    height: auto;
    width: 100%;
    margin: auto;
}

#bottom_fade {
    position: fixed;
    height: 5vh;
    width: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(12,12,12,1) 0%, rgba(12,12,12,0)100%);
    z-index: 90;
}

.border1, .border2 {
    height: 100%;
}

/* setup tooltips */
.tooltip {
    position: relative;
}

.tooltip:before, .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:after, .tooltip:before {
    transform: translate3d(0, 10px, 0);
    transition: all .15s ease-in-out;
}

.tooltip:hover:after, .tooltip:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

:root {
    --main-color    : #111;
    --loader-color: #682AE9FF;
    --back-color: #0c0c0c;
    --time: 1.5s;
    --size: 3px;
}

.loader {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.loader__element {
    height: var(--size);
    width: 100%;
    background: var(--back-color);
    margin-bottom: 0;
}

.loader__element:before {
    content: '';
    display: block;
    background-color: var(--loader-color);
    height: var(--size);
    width: 0;
    animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
    100% { width: 100%; }
}

.stop-scrolling1 {
    overflow-x: hidden;
}

.stop-scrolling2 {
    overflow: hidden;
}

.border1:after {
    position: absolute;
    display: inline-block;
    height: 50.5vh;
    right: 50%;
    bottom: -0.5vh;
    content: '';
    border-right: solid 0.12rem #682AE9FF;
    opacity: 0.8;
}

.border2:after {
    position: absolute;
    display: inline-block;
    height: 50.5vh;
    right: 50%;
    top: 0;
    content: '';
    border-right: solid 0.12rem #682AE9FF;
    opacity: 0;
    animation: fadeIn 0.3s ease-in both;
}

.align {
    position: relative;
    float: right;
    width: 14%;
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.6vh;
    height: 0.6vh;
    background: #682AE9FF;
    border-radius: 100%;
}
















