html, body {
    font-size: 16px;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: url('https://s.electerious.com/images/codepen/cursor.svg') 3 3, auto;
}

* {
    cursor: inherit;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("main/assets/fonts/RobotoMono-Regular.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Bold.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Medium.ttf") format('truetype'),
         url("main/assets/fonts/RobotoMono-Light.ttf") format('truetype');
}

body {
    position: relative;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #0c0c0c;
    background-image: url("https://griptapejs.com/background-hero.jpg");
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-position: center;
    min-height: 10000px;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/*<-------------------------------------LOADER ELEMENT------------------------------------->*/

:root {
    --main-color    : #111;
    --loader-color: #682AE9FF;
    --back-color: #0c0c0c;
    --time: 1.5s;
    --size: 3px;
}

.loader {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.loader__element {
    height: var(--size);
    width: 100%;
    background: var(--back-color);
    margin-bottom: 0;
}

.loader__element:before {
    content: '';
    display: block;
    background-color: var(--loader-color);
    height: var(--size);
    width: 0;
    animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
    100% { width: 100%; }
}

/*<-------------------------------------CUSTOM CURSOR------------------------------------->*/

.cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.42, 1);
    transition-property: width, height, transform;
    z-index: 100;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}
@media (pointer: fine) {
    .cursor {
        display: block;
    }
}
.cursor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #FFC300;
    opacity: var(--scale);
    transform: scale(var(--scale));
    transition: 0.3s cubic-bezier(0.25, 0.25, 0.42, 1) opacity, 0.3s cubic-bezier(0.25, 0.25, 0.42, 1) transform, 0.1s cubic-bezier(0.25, 0.25, 0.42, 1) border-radius;
}
body:not(body:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}

/*<-------------------------------------NAVBAR------------------------------------->*/

.navbar {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: auto;
    mix-blend-mode: exclusion;
}

.selector-wrapper {
    position: relative;
    display: block;
    left: 25%;
    width: 50vw;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 0.5%;
}

@media only screen and (min-width: 1300px) {
    .selector-wrapper {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .selector-wrapper {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .selector-wrapper {
        font-size: 1.3rem;
    }
}

.selected {
    position: relative;
    margin: auto;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #7b44ee;
}

.infoBtn {
    position: relative;
    float: right;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    color: #FFC300;
    text-decoration: underline #FFC300;
    text-underline-offset: 0.25rem;
    transition: color 0.5s;
}

.infoBtn:hover {
    color: #682AE9FF;
    text-decoration: underline #682AE9FF;
}

.selector {
    position: relative;
    float: right;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
}

.myLink {
    padding: 0 1vw 0 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s;
}

.myLink:hover {
    color: #682AE9FF;
}

.active {
    color: #757474;
}

/*<-------------------------------------CLEARLEFT------------------------------------->*/

.clearLeft {
    position: fixed;
    width: 25%;
    height: 100vh;
}

.align {
    position: relative;
    float: right;
    min-width: 5rem;
    width: 5rem;
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    margin: auto;
    width: 0.5rem;
    height: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #682AE9FF;
    border-radius: 100%;
}

.circle_pulse {
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    opacity: 0.1;
    width: 2vw;
    height: 2vw;
    border: 2px solid #682AE9FF;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    /* Giving Animation Function */
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    border-image: initial;
}

@-webkit-keyframes pulse
{
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes pulse
{
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
}

.border1:after {
    position: absolute;
    display: inline-block;
    height: 50%;
    right: 50%;
    bottom: -0;
    content: '';
    border-right: solid 0.12rem #682AE9FF;
    opacity: 1;
    animation: fadeIn1 0.5s ease-in both;
}

.border2:after {
    position: absolute;
    display: inline-block;
    height: 50%;
    right: 50%;
    top: -0;
    content: '';
    border-right: solid 0.12rem #682AE9FF;
    opacity: 0;
    animation: fadeIn2 0.3s ease-in both;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 0.4;
        transform: translate3d(0, 0, 0);
    }
}

/*<-------------------------------------TITLE, CONSTANT TITLE, DESCRIPTIONS, CONTAINERS, HOME-PAGE------------------------------------->*/

.myDiv {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    margin: 0;
}

.clearTop {
    height: 50vh;
    min-height: 50vh;
    display: block;
    width: 100%;
    top: 0;
}

.title, .constantTitle {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateY(-60%);
    margin: 0;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1300px) {
    .title, .constantTitle {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1900px) {
    .title, .constantTitle {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 2500px) {
    .title, .constantTitle {
        font-size: 4rem;
    }
}

.first, .second, .modalFirst {
    color: white;
    position: relative;
    float: left;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.second, .modalSecond {
    font-weight: 600;
    color: #682AE9FF;
}

.second {
    transition: all 1s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.description {
    color: #757474;
    height: auto;
    width: 100%;
    margin: 0;
}

.description2 {
    color: white;
    height: auto;
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 1300px) {
    .description, .description2 {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .description, .description2 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .description, .description2 {
        font-size: 1.3rem;
    }
}

.home-container, .contact-container, .saved-container {
    margin: 0;
    color: #757474;
    width: 100%;
}

.span3 {
    min-width: 100%;
    height: auto;
    margin-top: 1rem;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}

@media only screen and (min-width: 1300px) {
    .span3 {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .span3 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .span3 {
        font-size: 1.3rem;
    }
}

/*<-------------------------------------TRACE-PAGE------------------------------------->*/

.trace-container {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.floating {
    position: absolute;
    right: 0;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    z-index: 100;
}

@media only screen and (min-width: 1300px) {
    .floating {
        width: 35%;
        height: 334px;
    }
}

@media only screen and (min-width: 1900px) {
    .floating {
        width: 35%;
        height: 445px;
    }
}

@media only screen and (min-width: 2500px) {
    .floating {
        width: 35%;
        height: 593px;
    }
}

.floating:hover {
    animation-play-state: paused;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2rem); }
    to   { transform: translate(0, -0px); }
}

.tilt-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    z-index: 1;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1300px) {
    .flipper {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .flipper {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .flipper {
        font-size: 1.3rem;
    }
}

.sdcard-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0 1.5rem 1rem -15px #000000;
    -moz-box-shadow: 0 1.5rem 1rem -15px #000000;
    box-shadow: 0 1.5rem 1rem -15px #000000;
    top: 0;
}

.front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.sdcard-container2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    margin: 0;
    top: 0;
}

.form__group1 {
    position: absolute;
    transform: translateZ(2rem);
    top: 50%;
    left: 20%;
    padding: 5% 0 0;
    margin-top: 10px;
    width: 60%;
    font-weight: 600;
}
.form__group2 {
    position: absolute;
    transform: translateZ(2rem);
    top: 62%;
    left: 20%;
    padding: 5% 0 0;
    margin-top: 10px;
    width: 60%;
    font-weight: 600;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FFC300;
    outline: 0;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

@media only screen and (min-width: 1300px) {
    .form__field {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .form__field {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .form__field {
        font-size: 1.3rem;
    }
}

.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    top: 50%;
}
.form__label {
    position: absolute;
    top: 10%;
    display: block;
    transition: 0.2s;
    color: white;
}
.form__field:focus {
    font-weight: 600;
    border-image: linear-gradient(to right, #7b44ee, #7b44ee);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 10%;
    display: block;
    transition: 0.2s;
    color: #7b44ee;
    font-weight: 600;
}
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.sdcardbot {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 1;
}

.cover {
    position: absolute;
    margin: 0;
    top: 23%;
    left: 6%;
    z-index: 2;
    width: 85%;
    height: auto;
}

.overlay1, .overlay2 {
    position: absolute;
    top: 7%;
    left: 5%;
    margin: 0;
    z-index: 3;
    width: 90%;
    height: auto;
}

.overlay2 {
    mix-blend-mode: multiply;
}

.overlay3 {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 4;
}

.overlay4 {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 5;
}

.sdcardtop {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 6;
}

.sdcard-container3 {
    position: relative;
}

.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.songInfo {
    position: absolute;
    padding: 0.5rem;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
    text-align: left;
    font-weight: 700;
    z-index: 1;
}

@media only screen and (min-width: 1300px) {
    .songInfo span {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .songInfo span {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .songInfo span {
        font-size: 1.3rem;
    }
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background: #0c0c0c;
    opacity: 0.4;
}

.songTitle1, .songArtists1,  .songAlbum1,  .songDate1,  .songProducers1 {
    line-height: 2;
    transform: translateZ(2rem);
    color: white;
    letter-spacing: 0.05rem;
    border-bottom: thin solid #FFC300;
}

.songTitle2, .songArtists2, .songAlbum2, .songDate2, .songProducers2 {
    line-height: 2;
    transform: translateZ(2rem);
    color: white;
    letter-spacing: 0.05rem;
}

.sdcardback {
    width: 100%;
    height: auto;
}

.customButton1, .customButton2, .customButton3, .customButton4, .customButton5 {
    position: absolute;
    right: -1vw;
    width: 2vw;
    height: 2vw;
    background: #FFC300;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    z-index: 10;
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (min-width: 1300px) {
    .customButton1, .customButton2, .customButton3, .customButton4, .customButton5 {
        border: 2px solid black;
    }
    .gg-search, .gg-bookmark, .gg-more-alt {
        --ggs: 0.7;
    }

}

@media only screen and (min-width: 1900px) {
    .customButton1, .customButton2, .customButton3, .customButton4, .customButton5 {
        border: 3px solid black;
    }
    .gg-search, .gg-bookmark, .gg-more-alt {
        --ggs: 1;
    }
}

@media only screen and (min-width: 2500px) {
    .customButton1, .customButton2, .customButton3, .customButton4, .customButton5 {
        border: 3px solid black;
    }
    .gg-search, .gg-bookmark, .gg-more-alt {
        --ggs: 1.3;
    }
}

.customButton1 {
    top: 50%;
}

.customButton2 {
    top: 60%;
}

.customButton3 {
    top: 70%;
}

.customButton1:hover, .customButton2:hover, .customButton3:hover, .customButton4:hover, .customButton5:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.customButton1:active, .customButton2:active, .customButton3:active, .customButton4:active, .customButton5:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
    background: #7b44ee;
}

.lyrics-container {
    position: absolute;
    width: 64%;
    max-width: 64%;
    height: auto;
    left: 0;
    color: #757474;
}

@media only screen and (min-width: 1300px) {
    .lyrics-container {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .lyrics-container {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .lyrics-container {
        font-size: 1.3rem;
    }
}

.lyrics {
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
    overflow: hidden;
    white-space: pre-line;
}

.alignText {
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}

/*<-------------------------------------SAVED-PAGE------------------------------------->*/

.tableFavorite, .tableHistory {
    height: auto;
    table-layout: fixed;
    margin-top: 2rem;
}

@media only screen and (min-width: 1300px) {
    .tableFavorite, .tableHistory {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .tableFavorite, .tableHistory {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .tableFavorite, .tableHistory {
        font-size: 1.3rem;
    }
}

.tableFavorite caption, .tableHistory caption {
    text-align: left;
    float: left;
}

th {
    text-align: left;
}

td, th {
    padding: .5rem;
}

.table_heading {
    border-bottom: thin solid #FFC300;
    font-weight: 600;
    color: white;
}

.tableFavorite .date, .tableHistory .date {
    width: 25%;
}

.tableFavorite .artist, .tableHistory .artist {
    width: 25%;
}

.tableFavorite .name, .tableHistory .name {
    width: 40%;
}

.tableFavorite .buttons, .tableHistory .buttons {
    width: 10%;
}

.purple {
    color: #7b44ee;
}

.customButton4, .customButton5 {
    position: relative;
    float: left;
}

.customButton4 {
    left: 0;
}

.customButton5 {
    left: 5%;
}

/*<-------------------------------------CONTACT-PAGE------------------------------------->*/

.contact1, .contact2 {
    margin: 0;
    float: left;
    width: 50%;
    height: 100%;
    color: #757474;
}

@media only screen and (min-width: 1300px) {
    .contact1, .contact2 {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .contact1, .contact2 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .contact1, .contact2 {
        font-size: 1.3rem;
    }
}

.contact1 p, .contact2 p {
    margin: 0;
}

.email, .email:hover, .email:focus {
    text-decoration: underline #682AE9FF;
    text-underline-offset: 3px;
    color: inherit;
}

.email:hover {
    color: #682AE9FF;
}

.email:active {
    color: #757474;
}

/*<-------------------------------------INSTRUCTIONS POP-UP------------------------------------->*/

.modal {
    font: inherit;
    min-width: 35%;
    height: auto;
    z-index: 1000;
    text-align: center;
}

@media only screen and (min-width: 1300px) {
    .modal {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1900px) {
    .modal {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 2500px) {
    .modal {
        font-size: 1.3rem;
    }
}

.modalTitle {
    height: auto;
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 1300px) {
    .modalTitle {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1900px) {
    .modalTitle {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2500px) {
    .modalTitle {
        font-size: 3rem;
    }
}

.modalFirst {
    margin-right: 0;
}

.modalSecond {
    margin-left: 0;
}

.modalInstructions {
    position: relative;
    color: #757474;
    margin: auto;
}

.modalInstructions p {
    margin: auto;
}

.p1 {
    color: #FFC300;
}

.green {
    color: #e0f6bf;
}

.modalDescription3 {
    color: white;
    height: auto;
    width: 100%;
    margin: auto;
}

/*<-------------------------------------MISCELLANEOUS------------------------------------->*/

#bottom_fade {
    position: fixed;
    height: 5vh;
    width: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(12,12,12,1) 0%, rgba(12,12,12,0)100%);
    z-index: 90;
}

.tooltip {
    position: relative;
}

.tooltip:before, .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:after, .tooltip:before {
    transform: translate3d(0, 10px, 0);
    transition: all .15s ease-in-out;
}

.tooltip:hover:after, .tooltip:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.tooltip:after {
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    bottom: 20px;
    left: 1.3rem;
    width: 0;
}

.tooltip:before {
    background: rgba(0, 0, 0, .90);
    border-radius: 0.2rem;
    color: #fff;
    font: inherit;
    content: attr(data-title);
    padding: 0.4rem 0.5rem;
    bottom: 26px;
    white-space: nowrap;
}

.stop-scrolling1 {
    overflow-x: hidden;
}

.stop-scrolling2 {
    overflow: hidden;
}
















